table{
    justify-content: center;
    width: 80%;
    height: 80%;
    margin: 60px;
}

table th, td {
    text-align: center;
  }
  
  button {
    margin: 16px 8px;
  }
  
  h1 {
    font-weight: 900;
    font-size: 100px;
    letter-spacing: 4px;
  }

  #rank{
    margin: 60px;
  }